#root {
  display: flex;
  flex-direction: column;
  width: 620px;
  padding: 10px;
  margin: 0 auto;
}

body {
  background-color: #eeeeee;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
